@import '~@angular/material/theming';

$blue-gray: mat-color(mat-palette($mat-blue-gray, 500));

:host, app-home-open-source-card {
  background-color: $blue-gray;
}

/*
@media (min-width: 1080px) {
  :host {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 500px 500px;
    justify-content: center;
  }
}

@media (min-width: 900px) and (max-width: 1080px) {
  :host {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 450px 450px;
    justify-content: center;
  }
}
*/

@media (min-width: 700px) and (max-width: 1080px) {
  :host {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 350px 350px;
    justify-content: center;
  }
}

@media (min-width: 1080px) {
  :host {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
  }
}
