<div class="tech-specs-list-container">
  <div class="tech-spec-item">
    <mat-icon>code</mat-icon>
    <span>Kotlin, TypeScript, Node.js</span>
  </div>
  <div class="tech-spec-item">
    <mat-icon>extension</mat-icon>
    <span>SparkJava, Angular</span>
  </div>
  <div class="tech-spec-item">
    <mat-icon>build</mat-icon>
    <span>Docker, Gradle</span>
  </div>
  <div class="tech-spec-item">
    <mat-icon>description</mat-icon>
    <span>MIT License</span>
  </div>
  <div class="tech-spec-item">
    <mat-icon>memory</mat-icon>
    <span>0.5 vCPU, 1.70 GB memory</span>
  </div>
  <div class="tech-spec-item">
    <mat-icon>cloud</mat-icon>
    <span>Google Kubernetes Engine</span>
  </div>
</div>
