<mat-toolbar id="about-me-toolbar">Developer Sam</mat-toolbar>
<app-home-about-me-section></app-home-about-me-section>
<div id="projects"></div>
<mat-toolbar id="project-toolbar">My Projects</mat-toolbar>
<app-home-projects-section></app-home-projects-section>
<mat-toolbar id="tech-specs-toolbar">Website Tech Specs</mat-toolbar>
<app-home-tech-specs-section></app-home-tech-specs-section>
<mat-toolbar id="open-source-toolbar">Open Source Solutions</mat-toolbar>
<app-home-open-source-section></app-home-open-source-section>
