<!--suppress HtmlUnknownAttribute -->
<mat-card itemscope itemtype="https://schema.org/Product">
  <img [src]="data.logo" [alt]="data.name" mat-card-image itemprop="image"/>
  <mat-card-content itemprop="description">{{data.intro}}</mat-card-content>
  <span class="project-name" itemprop="name">{{data.name}}</span>
  <mat-card-actions>
    <a mat-button color="primary" [href]="data.link" target="_blank">
      <mat-icon>open_in_new</mat-icon>
      GitHub Repo
    </a>
  </mat-card-actions>
</mat-card>
