<!--suppress HtmlUnknownAttribute -->
<app-home-about-me-row class="hello-world-row">
  Stable Course Partner Matching
</app-home-about-me-row>
<app-home-about-me-row class="has-icon">
  <mat-icon>school</mat-icon>
  <span class="separator"></span>
  <span>Built for Cornell University</span>
</app-home-about-me-row>
<div style="flex: 1 1;"></div>
<app-home-about-me-row>
  <nav>
    <a mat-stroked-button class="sign-in-button" *ngIf="!signedIn" (click)="signIn()" target=_blank>
      <span>Sign in by Google</span>
    </a>
    <a mat-stroked-button class="sign-in-button" *ngIf="signedIn" [routerLink]="['/profile']">
      <span>My Profile</span>
    </a>
  </nav>
</app-home-about-me-row>
